<div class="design-card">
  <h1><%= @design.title %></h1>
  <p><strong>Designer</strong>: <%= link_to @design.user.name, admin_user_path(current_user, @design.user) %></p>
  <p><strong>Description</strong>: <%= @design.description %></p>
  <p><strong>Price Range</strong>: <%= @design.price_range %></p>
  <p><strong>Due Date</strong>: <%= @design.due_date.strftime("%B %d, %Y") %></p>
  <p><strong>Created At</strong>: <%= @design.created_at.to_formatted_s(:long) %></p>
  <p><strong>Status</strong>: <%= @design.status.capitalize %></p>
  <p><%= cl_image_tag(@design.image_url(:standard)) %></p>


  <div class="action-buttons">
    <% if @design.status == 'pending' || @design.status == 'declined' %>
      <%= link_to "Approve", admin_approve_design_path(@design), class: "btn btn-success" %>
    <% end %>
    <% if @design.status == 'pending' || @design.status == 'active' %>
      <%= link_to "Decline", admin_decline_design_path(@design), class: "btn btn-danger" %>
    <% end %>
  </div>
</div>