<div class="dashboard">
  <h1>Administrator Dashboard</h1>

  <ul class="nav nav-tabs">
    <%= content_tag :li, class: "whatever #{params[:page] == 'all' ? 'active' : ''}", role: 'presentation' do %>
      <a href="?page=all">All Designs</a>
    <% end %>
    <%= content_tag :li, class: "whatever #{params[:page] == 'pending' ? 'active' : ''}", role: 'presentation' do %>
      <a href="?page=pending">Pending Designs (<%= @pending_designs.count %>)</a>
    <% end %>
    <%= content_tag :li, class: "whatever #{params[:page] == 'orders' ? 'active' : ''}", role: 'presentation' do %>
      <a href="?page=orders">Orders</a>
    <% end %>
  </ul>

  <% if params[:page] == 'all' %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Design</th>
          <th>Designer</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @designs.each do |design| %>
          <tr class="title-<%= design.title %>">
            <th scope="row">
              <%= link_to design.title, admin_design_path(current_user, design) %>
            </th> 
            <td><%= link_to design.user.username, admin_user_path(current_user, design.user) %></td>
            <td class="status"><%= design.status.capitalize %></td> 
          </tr>
        <% end %>
      </tbody>
    </table>

  <% elsif params[:page] == 'pending' %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Design</th>
          <th>Designer</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <% @pending_designs.each do |design| %>
          <tr class="title-<%= design.title%>">
            <th scope="row">
              <%= link_to design.title, admin_design_path(current_user, design) %>
            </th>
            <td><%= design.user.username %></td>
            <td><%= design.created_at.to_formatted_s(:long) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  <% elsif params[:page] == 'orders' %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Design</th>
          <th>Designer</th>
          <th>Producer</th>
          <th>Created At</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <th scope="row">
              <%= link_to order.id, admin_order_path(current_user, order) %>
            </th>
            <td><%= link_to order.design.title, admin_design_path(current_user, order.design) %></td>
            <td><%= link_to order.design.user.username, admin_user_path(current_user, order.design.user) %></td>
            <td><%= link_to order.application.user.username, admin_user_path(current_user, order.application.user) %></td>
            <td><%= order.created_at.to_formatted_s(:long) %></td>
            <td><%= order.status.capitalize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
</div>