<div class='new-app'>
<h1>Application: <%= @design.title %></h1>
  <%= form_for [:producer, @design, @application] do |f| %>

    <%= f.label :production_plan %>
    <%= f.text_area :production_plan, class: 'form-control' %>

    <%= f.label :due_date %>
    <%= f.date_select :due_date, class: 'form-control' %></br>

    <%= f.label :price, 'Price Offer' %>
    <%= f.text_field :price, class: 'form-control' %>

    <%= f.submit "Apply to Design", class: 'btn btn-primary new-btn' %>

  <% end %>
</div>