<h1>Your Application to <%= @application.design.title %></h1>
Designer: <%= @application.design.user.username %>

Production Plan: <%= @application.production_plan %>
Due Date: <%= @application.due_date %>
Price: <%= @application.price %>