<div class="design-card">
  <h1><%= @design.title %></h1>
  <p><strong>Description</strong>: <%= @design.description %></p>
  <p><strong>Price Range</strong>: <%= @design.price_range %></p>
  <p><strong>Due Date</strong>: <%= @design.due_date %></p>
  <p><strong>Created At</strong>: <%= @design.created_at.to_formatted_s(:long) %></p>
  <p><strong>Status</strong>: <%= @design.status.capitalize %></p>
  <p><%= image_tag(@design.image_url(:standard)) %></p>

  <div class="action-buttons">
  <%= link_to "Edit Design", edit_designer_design_path(current_user, @design), class: "btn btn-success"%>
  </div>
  <% if @design.applications.empty? %>
    <%= link_to "Delete Design", designer_design_path(current_user, @design), method: :delete, class: "btn btn-danger" %>
  </div>
  <% else %>
    <div class='admin-dashboard'>
    <h2>Applications</h2>

    <% @design.applications.each do |application| %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Application ID</th>
            <th>Producer</th>
            <th>Application Status</th>
          </tr>
        </thead>
        <tbody>
          <% @design.applications.each do |app| %>
            <tr class="title-<%= app.design.title %>">
              <th scope="row">
                <%= link_to app.id, designer_design_application_path(current_user, app.design, app) %>
              </th>
              <td><%= app.user.username %></td>
              <td><%= app.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    </div>
  <% end %>


