<div class="order-card">
  <h1>Order #<%= @order.id %></h1>
  <p><strong>Design:</strong> <%= link_to @order.design.title, admin_design_path(current_user, @order.design) %></p>
  <p><strong>Designer:</strong> <%= link_to @order.design.user.name, admin_user_path(current_user, @order.design.user) %></p>  
  <p><strong>Producer:</strong> <%= link_to @order.application.user.name, admin_user_path(current_user, @order.application.user ) %></p>
  <p><strong>Application ID:</strong> <%= link_to @order.application.id, designer_design_application_path(current_user, @order.design, @order.application) %></p>
  <p><strong>Price:</strong> <%= number_to_currency(@order.price) %></p>
  <p><strong>Due Date:</strong> <%= @order.due_date.strftime("%B %d, %Y") %></p>
  <p><strong>Created At:</strong> <%= @order.created_at.to_formatted_s(:long) %></p>
  <p><strong>Status:</strong> <%= @order.status.capitalize %></p>
  <p><%= c_image_tag(@order.design.image_url(:standard)) %></p>

  
  <% if @order.shipped? %>
    <div class="action-buttons">
      <%= link_to "Mark Order as 'Received'!", designer_receive_order_path(@order), class: 'btn btn-success' %>
    </div>
  <% end %>
</div>