<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Design</th>
      <th>Designer</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @designs.each do |design| %>
      <tr class="title-<%= design.title %>">
        <th scope="row">
          <%= image_tag(design.image_url(:thumbnail)) %>  
        </th>
        <td><%= link_to design.title, producer_design_path(current_user, design) %></td>
        <td><%= design.user.username %></td>
        <td><%= design.created_at.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
