<div class='orders'>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Design</th>
        <th>Designer</th>
        <th>Created At</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <div class="order">
          <tr class="id-<%= order.id %>">
            <th scope="row">
              <div class="order-id"><%= link_to order.id, producer_order_path(current_user, order) %></div>
            </th>
            <td><div class="design"><%= link_to order.design.title, producer_design_path(current_user, order.design) %></td></div>            
            <td><div class="designer"><%= order.design.user.username %></td></div>
            <td class="created-at"><%= order.created_at.to_formatted_s(:long) %></td> 
            <td><%= order.status.capitalize %></td>
          </tr>
        </div>
      <% end %>
    </tbody>
  </table>
</div>
