<table class="table table-hover">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Design</th>
              <th>Producer</th>
              <th>Created At</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          <% if @user.designer? %>
            <% @designer_orders.each do |order| %>
            <div class="order">
                <tr class="id-<%= order.id %>">
                  <th scope="row">
                    <div class="order-id"><%= link_to order.id, admin_order_path(current_user, order) %></div>
                  </th>
                  <td><div class="design"><%= link_to order.design.title, admin_design_path(current_user, order.design) %></td></div>            
                  <td><div class="designer"><%= link_to order.application.user.name, admin_user_path(current_user, order.application.user) %></td></div>
                  <td class="created-at"><%= order.created_at.to_formatted_s(:long) %></td> 
                  <td><%= order.status.capitalize %></td>
                </tr>
              </div>
            <% end %>
          </tbody>
          <% elsif @user.producer? %>
            <% @producer_orders.each do |order| %>
            <div class="order">
                <tr class="id-<%= order.id %>">
                  <th scope="row">
                    <div class="order-id"><%= link_to order.id, admin_order_path(current_user, order) %></div>
                  </th>
                  <td><div class="design"><%= link_to order.design.title, admin_design_path(current_user, order.design) %></td></div>            
                  <td><div class="designer"><%= link_to order.application.user.name, admin_user_path(current_user, order.application.user) %></td></div>
                  <td class="created-at"><%= order.created_at.to_formatted_s(:long) %></td> 
                  <td><%= order.status.capitalize %></td>
                </tr>
              </div>
            <% end %>
          </tbody>
          <% end %>
        </table>