<% if @user.designer? %> 

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Design</th>
        <th>Description</th>
        <th>Status</th>
        <th>Pending Applications</th>
      </tr>
    </thead>
    <tbody>
      <% @user.designs.each do |design| %>
        <div class="design">
          <tr class="title-<%= design.title %>">
            <th scope="row">
              <div class="title"><%= link_to design.title, admin_design_path(current_user, design) %></div>
            </th>
            <td><div class="description"><%= design.description %></td></div>
            <td class="status"><%= design.status.capitalize %></td> 
            <td><%= design.applications.where(status: 'active').count %></td>
          </tr>
        </div>
      <% end %>
    </tbody>
  </table>

<% elsif @user.producer? %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Application ID</th>
          <th>Design</th>
          <th>Application Status</th>
        </tr>
      </thead>
      <tbody>
        <% @user.applications.each do |app| %>
          <tr class="title-<%= app.id %>">
            <th scope="row">
              <%= link_to app.id, admin_design_application_path(current_user, app.design, app) %>
            </th>
            <td><%= link_to app.design.title, admin_design_path(current_user, app.design) %></td>
            <td><%= app.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
<% end %>
