<div class="dashboard">

  <h1><%= @user.username %></h1>
  <h3><%= @user.role.capitalize %></h3>

  <ul class="nav nav-tabs">
    <%= content_tag :li, class: "whatever #{params[:page] == 'orders' ? 'active' : ''}", role: 'presentation' do %>
      <a href="?page=orders">Orders</a>
    <% end %>
    <%= content_tag :li, class: "whatever #{params[:page] == 'other' ? 'active' : ''}", role: 'presentation' do %>
      <% if @user.designer? %>
        <a href="?page=other">Designs</a>
      <% elsif @user.producer? %>
        <a href="?page=other">Applications</a>  
      <% end %>    
    <% end %>
  </ul>

  <%= render @partial %>

</div>
