<!DOCTYPE html>
<html>
<head>
  <title>PersonalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>
<% if current_user %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Sign Up", new_user_path %>
  <%= link_to "I already have an account", login_path %>
  <button class='loginBtn loginBtn--google'>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
  </button>
<% end %>
<%= yield %>

</body>
</html>
